<div class="modal-header">
  <h4 class="modal-title">Add book to shelf</h4>
  <button type="button" class="btn btn-close" aria-label="Close" (click)="dismiss('cross click')">
  </button>
</div>
<div class="modal-body">
  <p>Are you sure you want to add the book to this shelf?</p>
  <p>Shelf: {{someInput}}</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="close('OK')">OK</button>
  <button type="button" class="btn btn-outline-dark" (click)="dismiss('Cancel')">Cancel</button>
</div>
